<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}} - LeesboekenUitleenProject</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header>
    <h1>Leesboeken Uitleen Project</h1>
    <nav>
      <a href="/">Klassen</a>
      <a href="/boeken">Boeken</a>
    </nav>
  </header>
  <main>
    {{embed}}
  </main>
  <footer>
    <p>&copy; 2025</p>
  </footer>
</body>

</html>